<div class="container">
  <div class="login-box">
    <img src="abakada_logo.png" alt="Logo" class="logo" />
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        placeholder="Enter Username"
        required
      />

      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter Password"
        required
      />
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>

    <div class="links">
      <a routerLink="/register" routerLinkActive="activate"
        >Don't Have an Account?"</a
      >
      <a routerLink="/forgot-password" routerLinkActive="activate"
        >Forget Password?</a
      >
      <i class="fas fa-check-circle" style="font-size: 24px; color: red"></i>
    </div>
  </div>
</div>
