<div class="main-layout">
  <app-navigation></app-navigation>


<div class="dashboard-container">
    <app-header></app-header>


  <div class="dashboard">
    <h1>Dashboard</h1>
    <div class="top-row">
      <div class="card">
        <div class="card-header">
          <span>Announcement</span>
          <span class="dots">⋮</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span>Overview</span>
          <span class="dots">⋮</span>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="card">
        <div class="card-header">
          <span>Schedule</span>
          <span class="dots">⋮</span>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
