<div class="container" >
  <div class="login-box">
    <img src="abakada_logo.png" alt="logo" class="logo" />
    <form>
      <label for="email">
        Please Enter the Email Address Linked to your account
      </label>
      <input
        type="email"
        id="email"
        placeholder="Enter Email Address"
        required
      />
      <button type="submit" class="send-code-button">Send Code</button>
      <div class="links">
        <p>
          Password Remembered?
          <a routerLink="" routerLinkActive="activate">Login your Account</a>
        </p>
      </div>
    </form>
  </div>
</div>
