<div class="main-layout">
            <app-navigation></app-navigation>
    <div class="main-container">

<app-header></app-header>

<div class="container">
    <h2>Receipt Encoding</h2>

    <div class="form-row">
      <div class="form-column">
        <label>Loan Control No.*</label>
        <input type="text" placeholder="Enter Loan Control No.">
      </div>
      <div class="form-column balance-box">
        <!-- <label class="balance-label">Balance</label> -->
        <input type="text" value="Juan De La Cruz" readonly>
      </div>
      <div class="form-column">
                <label class="balance-label">Balance</label>
        <input type="text" value="4,000.00" readonly>
      </div>
    </div>


    <div class="form-row">
      <div class="form-column">
        <label>Receipt No.</label>
        <input type="text" placeholder="Enter Receipt No.">
      </div>
      <div class="form-column balance-box">
        <!-- <label class="balance-label">Balance</label> -->
        <input type="text" value="Bklt 46" readonly>
      </div>
    </div>








    <div class="form-row">
      <div class="form-column">
        <label>Date of Payment*</label>
        <input type="date" placeholder="Enter Date of Payment">
      </div>
      <div class="form-column">
        <label>Term*</label>
        <select>
          <option disabled selected>Choose</option>
          <!-- Add real options here -->
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-column">
        <label>Amount tendered*</label>
        <input type="number" placeholder="Enter Amount Paid">
      </div>
    </div>

    <button class="submit-btn">SUBMIT</button>
  </div>

      </div>
</div>