<aside class="sidebar">
  <div class="logo">
    <img src="abakada_logo.png" alt="ABAKADA Loans" />
  </div>
  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="activate"
      ><i class="fas fa-chart-pie"></i> Dashboard</a
    >

    <!-- Dropdowns -->
    <div class="dropdown">
      <input type="checkbox" id="encoding" />
      <label for="encoding"><i class="fas fa-cart-plus"></i> Encoding</label>
      <div class="submenu">
        <a routerLink="/loan-encoding" routerLinkActive="activate"
          >Loan Encoding</a
        >
        <a routerLink="/receipt-encoding" routerLinkActive="activate"
          >Receipt Encoding</a
        >
        <a routerLink="/settle-payment" routerLinkActive="activate"
          >Settle Payment</a
        >
        <a routerLink="/cashout-encoding" routerLinkActive="activate"
          >Cash Out Encoding</a
        >
      </div>
    </div>

    <a routerLink="/loan-profile" routerLinkActive="activate"
      ><i class="fas fa-chart-pie"></i>Loan Profile</a
    >

    <a routerLink="/receipt-database" routerLinkActive="activate"
      ><i class="fas fa-chart-pie"></i>Receipt Database</a
    >

    <a routerLink="/cashouts" routerLinkActive="activate"
      ><i class="fas fa-chart-pie"></i>Cashouts</a
    >

    <a routerLink="/abakada-auditing" routerLinkActive="activate"
      ><i class="fas fa-chart-pie"></i>ABAKADA Auditing</a
    >

    <a routerLink="/master-list" routerLinkActive="activate"
      ><i class="fas fa-chart-pie"></i>Master List</a
    >

    <div class="dropdown">
      <input type="checkbox" id="control" />
      <label for="control"><i class="fas fa-cogs"></i> Control Center</label>
      <div class="submenu">
        <a href="#">Test1</a>
        <a href="#">Test2</a>
        <a href="#">Test3</a>
      </div>
    </div>

    <div class="dropdown">
      <input type="checkbox" id="files" />
      <label for="files"><i class="fas fa-folder"></i> Files</label>
      <div class="submenu">
        <a href="#">Test1</a>
        <a href="#">Test2</a>
        <a href="#">Test3</a>
      </div>
    </div>

    <a href="#"><i class="fas fa-bug"></i> Report Bug</a>
    <a href="#"><i class="fas fa-question-circle"></i> FAQ</a>
  </nav>
</aside>
