  <div class="container">
    <div class="signup-box">
      <img src="abakada_logo.png" alt="Logo" class="logo" />
      <form>
        <label>First Name</label>
        <input type="text" placeholder="Enter first name" required />
        
        <label>Last Name</label>
        <input type="text" placeholder="Enter last name" required />
        
        <label>Username</label>
        <input type="text" placeholder="Enter username" required />
        
        <label>Email</label>
        <input type="email" placeholder="Enter email" required />
        
        <label>Password</label>
        <input type="password" placeholder="Enter password" required />
        
        <label>Re-type password</label>
        <input type="password" placeholder="Enter password" required />
        
        <button type="submit">REGISTER</button>
      </form>
      <a class="login-link" routerLink="" routerLinkActive="active">Login to your account</a>
    </div>
  </div>